@model IEnumerable<MyGigHub.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Who I Follow</h1>
<ul>
    @foreach (var artist in Model)
    {
        <li>@artist.Name - @artist.UserName </li>
    }
</ul>